################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/lika/bin/Debug
/lika/obj/Debug
/lika/.vs/lika/v15
/lika/obj/Release
